name: eco

# Common Variables
x-service-defs:
  user-service-name: &user-name user
  user-service-port: &user-port 3000
  threshold-service-name: &threshold-name threshold
  threshold-service-port: &threshold-port 3000
  forecast-service-name: &forecast-name forecast
  forecast-service-port: &forecast-port 3000
  frontend-service-name: &frontend-name frontend
  frontend-service-port: &frontend-port 80
  alert-service-name: &alert-name alert
  alert-service-port: &alert-port 3000
  monitoring-service-name: &monitoring-name monitoring
  monitoring-service-port: &monitoring-port 3000
  map-service-name: &map-name map
  map-service-port: &map-port 3000
  smart-furniture-hookup-service-name: &hookup-name hookup
  smart-furniture-hookup-service-port: &hookup-port 3000
  mongodb-name: &mongodb-name mongodb
  mongodb-port: &mongodb-port 27017
  influxdb-name: &influxdb-name influxdb
  influxdb-port: &influxdb-port 8086

x-healthcheck: &common-healthcheck
  test: ["CMD-SHELL", "wget -q --spider http://localhost:$${PORT}/health || exit 1"]
  interval: 10s
  timeout: 3s
  retries: 3
  start_period: 5s

x-logging: &common-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

# Service Environment Variables
x-gateway-env: &gateway-env
  USER_HOST: *user-name
  USER_PORT: *user-port
  THRESHOLD_HOST: *threshold-name
  THRESHOLD_PORT: *threshold-port
  FORECAST_HOST: *forecast-name
  FORECAST_PORT: *forecast-port
  ALERT_HOST: *alert-name
  ALERT_PORT: *alert-port
  FRONTEND_HOST: *frontend-name
  FRONTEND_PORT: *frontend-port
  MONITORING_HOST: *monitoring-name
  MONITORING_PORT: *monitoring-port
  MAP_HOST: *map-name
  MAP_PORT: *map-port
  HOOKUP_HOST: *hookup-name
  HOOKUP_PORT: *hookup-port

x-frontend-env: &frontend-env
  NAME: *frontend-name
  PORT: *frontend-port

x-user-env: &user-env
  NAME: *user-name
  PORT: *user-port
  MONGODB_HOST: *mongodb-name
  MONGODB_PORT: *mongodb-port
  MONGO_DB: *user-name
  JWT_SECRET: ${JWT_SECRET}
  JWT_EXPIRES_IN: ${JWT_EXPIRES_IN:-1h}
  JWT_REFRESH_EXPIRES_IN: ${JWT_REFRESH_EXPIRES_IN:-7d}
  RESET_CODE: ${RESET_CODE}

x-threshold-env: &threshold-env
  NAME: *threshold-name
  PORT: *threshold-port
  MONGODB_HOST: *mongodb-name
  MONGODB_PORT: *mongodb-port
  MONGO_DB: *threshold-name
  USER_SERVICE_HOST: *user-name
  USER_SERVICE_PORT: *user-port

x-forecast-env: &forecast-env
  NAME: *forecast-name
  PORT: *forecast-port
  MONGODB_HOST: *mongodb-name
  MONGODB_PORT: *mongodb-port
  MONGO_DB: *forecast-name
  USER_SERVICE_HOST: *user-name
  USER_SERVICE_PORT: *user-port

x-alert-env: &alert-env
  NAME: *alert-name
  PORT: *alert-port
  MONGODB_HOST: *mongodb-name
  MONGODB_PORT: *mongodb-port
  MONGO_DB: *alert-name
  USER_SERVICE_HOST: *user-name
  USER_SERVICE_PORT: *user-port

x-monitoring-env: &monitoring-env
  NAME: *monitoring-name
  PORT: *monitoring-port
  INFLUXDB_HOST: *influxdb-name
  INFLUXDB_PORT: *influxdb-port
  INFLUX_URL: "http://influxdb:8086"
  INFLUX_ORG: ${DOCKER_INFLUXDB_INIT_ORG:-eco}
  INFLUX_BUCKET: ${DOCKER_INFLUXDB_INIT_BUCKET:-monitoring}
  INFLUX_TOKEN: ${DOCKER_INFLUXDB_INIT_ADMIN_TOKEN:?missing DOCKER_INFLUXDB_INIT_ADMIN_TOKEN}
  USER_SERVICE_HOST: *user-name
  USER_SERVICE_PORT: *user-port
  EXTERNAL_API_HOST: ${HOST_IP:-localhost}
  EXTERNAL_API_PORT: ${HOST_PORT:-80}

x-map-env: &map-env
  NAME: *map-name
  PORT: *map-port
  MONGODB_HOST: *mongodb-name
  MONGODB_PORT: *mongodb-port
  MONGO_DB: *map-name
  USER_SERVICE_HOST: *user-name
  USER_SERVICE_PORT: *user-port
  HOOKUP_HOST: *hookup-name
  HOOKUP_PORT: *hookup-port

x-hookup-env: &hookup-env
  NAME: *hookup-name
  PORT: *hookup-port
  MONGODB_HOST: *mongodb-name
  MONGODB_PORT: *mongodb-port
  MONITORING_SERVICE_HOST: *monitoring-name
  MONITORING_SERVICE_PORT: *monitoring-port
  MONGO_DB: *hookup-name
  USER_SERVICE_HOST: *user-name
  USER_SERVICE_PORT: *user-port

x-influx-env: &influx-env
  DOCKER_INFLUXDB_INIT_MODE: setup
  DOCKER_INFLUXDB_INIT_USERNAME: ${DOCKER_INFLUXDB_INIT_USERNAME:?missing DOCKER_INFLUXDB_INIT_USERNAME}
  DOCKER_INFLUXDB_INIT_PASSWORD: ${DOCKER_INFLUXDB_INIT_PASSWORD:?missing DOCKER_INFLUXDB_INIT_PASSWORD}
  DOCKER_INFLUXDB_INIT_ORG: ${DOCKER_INFLUXDB_INIT_ORG:-eco}
  DOCKER_INFLUXDB_INIT_BUCKET: ${DOCKER_INFLUXDB_INIT_BUCKET:-monitoring}
  DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: ${DOCKER_INFLUXDB_INIT_ADMIN_TOKEN:?missing DOCKER_INFLUXDB_INIT_ADMIN_TOKEN}
  INFLUXD_LOG_LEVEL: error
  INFLUXD_HTTP_LOG_ENABLED: "false"

# Services
services:

  gateway:
    container_name: api-gateway
    build: ./gateway
    restart: unless-stopped
    ports:
      - "${HOST_PORT:-80}:80"
    networks:
      - internal
      - external
    environment:
      <<: *gateway-env
    healthcheck:
      test: ["CMD-SHELL", "wget --no-check-certificate -q --spider http://localhost/health || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s
    logging: *common-logging

  frontend:
    container_name: frontend
    image: ghcr.io/energyconsumptionoptimizer/frontend:latest
    restart: unless-stopped
    expose:
      - *frontend-port
    networks:
      - internal
    environment:
      <<: *frontend-env
    healthcheck: *common-healthcheck
    logging: *common-logging

  user:
    container_name: user-service
    image: ghcr.io/energyconsumptionoptimizer/user-service:latest
    restart: unless-stopped
    expose:
      - *user-port
    networks:
      - internal
    environment:
      <<: *user-env
    depends_on:
      mongodb:
        condition: service_healthy
    healthcheck: *common-healthcheck
    logging: *common-logging

  threshold:
    container_name: threshold-service
    image: ghcr.io/energyconsumptionoptimizer/threshold-service:latest
    restart: unless-stopped
    expose:
      - *threshold-port
    networks:
      - internal
    environment:
      <<: *threshold-env
    depends_on:
      mongodb:
        condition: service_healthy
    healthcheck: *common-healthcheck
    logging: *common-logging

  forecast:
    container_name: forecast-service
    image: ghcr.io/energyconsumptionoptimizer/forecast-service:latest
    restart: unless-stopped
    expose:
      - *forecast-port
    networks:
      - internal
    environment:
      <<: *forecast-env
    depends_on:
      mongodb:
        condition: service_healthy
    healthcheck: *common-healthcheck
    logging: *common-logging

  alert:
    container_name: alert-service
    image: ghcr.io/energyconsumptionoptimizer/alert-service:latest
    restart: unless-stopped
    expose:
      - *alert-port
    networks:
      - internal
    environment:
      <<: *alert-env
    depends_on:
      mongodb:
        condition: service_healthy
    healthcheck: *common-healthcheck
    logging: *common-logging

  monitoring:
    container_name: monitoring-service
    image: ghcr.io/energyconsumptionoptimizer/monitoring-service:latest
    restart: unless-stopped
    expose:
      - *monitoring-port
    networks:
      - internal
    environment:
      <<: *monitoring-env
    depends_on:
      influxdb:
        condition: service_healthy
    healthcheck: *common-healthcheck
    logging: *common-logging

  map:
    container_name: map-service
    image: ghcr.io/energyconsumptionoptimizer/map-service:latest
    restart: unless-stopped
    expose:
      - *map-port
    networks:
      - internal
    environment:
      <<: *map-env
    depends_on:
      influxdb:
        condition: service_healthy
    healthcheck: *common-healthcheck
    logging: *common-logging

  hookup:
    container_name: hookup-service
    image: ghcr.io/energyconsumptionoptimizer/smart-furniture-hookup-service:latest
    restart: unless-stopped
    expose:
      - *hookup-port
    networks:
      - internal
    environment:
      <<: *hookup-env
    depends_on:
      influxdb:
        condition: service_healthy
    healthcheck: *common-healthcheck
    logging: *common-logging

  mongodb:
    container_name: mongodb
    image: mymongo
    build:
      context: ./mongodb
      dockerfile: Dockerfile
    restart: always
    expose:
      - *mongodb-port
    networks:
      - internal
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.runCommand('ping')"]
      interval: 5s
      timeout: 3s
      retries: 3
    command:
      - "mongod"
      - "--quiet"
    logging: *common-logging

  influxdb:
    container_name: influxdb
    image: influxdb:2.7-alpine
    restart: unless-stopped
    expose:
      - *influxdb-port
    networks:
      - internal
    environment:
      <<: *influx-env
    healthcheck:
      test: ["CMD", "influx", "ping"]
      interval: 5s
      timeout: 3s
      retries: 3
    logging: *common-logging

# Networks
networks:
  internal:
    driver: bridge
    internal: true
    driver_opts:
      com.docker.network.bridge.name: "br-eco-int1"
      com.docker.network.enable_ipv6: "false"
  external:
    driver: bridge
    internal: false
    driver_opts:
      com.docker.network.bridge.name: "br-eco-ext1"
      com.docker.network.enable_ipv6: "false"
